body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #020504;
  color: white;
}

#canvas-container {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.card {
  width: 400px;
  margin: 100px auto;
  background: rgba(255,255,255,0.1);
  padding: 25px;
  border-radius: 20px;
}

input, select, textarea, button {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 10px;
}

button {
  background: #52b788;
  color: white;
  border: none;
}
